@import "tailwindcss";

:root {
  --background: #F9FAF8;
  --foreground: #1C1C1C;
  --card-bg: #ffffff;
  --border-color: #e2e8f0;
}

@theme inline {
  --color-primary: #005647;
  --color-secondary: #00dba0;
  --color-tertiary: #0A3D35;
  --color-focus: #00c2a8;
  --color-link: #0095C7;
  --color-dark: #0A1F1C;
  --color-neutral: #1C1C1C;
  --color-subtext: #666666;
  --color-light: #F9FAF8;
  --color-orange: #F47C20;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-border-color: var(--border-color);

  --breakpoint-phone: 20rem;
  --breakpoint-tablet: 40rem;
  --breakpoint-tabletxl: 52.5rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito);
  --font-heading: var(--font-heading-src);
}

html {
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
  transition: background-color 0.3s ease, color 0.3s ease;
}
